<div class="design-header">
	<div class="design-content">


		<div class="explain">
			<p class="f">{{ page.title }}</p>
			<h6 class="tall-title">a completely custom and unique design no one else will have</h6> {{!-- see script --}}
			{{!-- <h6 sub class="tall-title">...</h6> --}}
			<p>Looking to give your employees or clients something beyond the typical corporate koozie and stress ball gifts? Need awesome marketing swag for your client or potential customer? How about to promote a new product, or hand out during fundraisers and special events?</p>

			<p class="curly">We’ve got your answer: Custom Socks</p>

			<p>Socks are in, and what better way to get your name out there than with personalized socks people can actually use time and time again! </p>

			<p>Perfect for marketing & PR swag, new-hire packages, product launches, merchandise shops, or holiday gifts for clients and employees. The best socks in the game are now available however you want to create them—a completely custom and unique design no one else will have.</p>

			{{!-- <p>We will guide you through the design process and help you bring your ideas to life. Or, if you’re not exactly sure how you want your custom socks to look, our talented cloudnav designers can help you create the perfect sock for whatever you need.</p> --}}
		</div>

	</div>
</div>




<div class="guts container_">

	<div class="steps sec">
		<div class="container">
		<h3>Here’s How It Works:</h3>
		<p class="f">Communication is important to us, and we’re here through each step during development.</p>
		<div class="p1em"></div>
		<div class="columns is-multiline">
			<div class="column is-4 step-item">
				<div class="num"><span>1</span></div>
				<div class="img-content">
					<img src="https://cdn7.bigcommerce.com/s-xba1p2i5uz/product_images/uploaded_images/elvnvzmw.jpeg?t=1532543661">
				</div>
					<h6>Contact us</h6>
				<p>Talk with our design and account team and let us know your vision for the custom socks. We’ll work with you to streamline your design, answer any questions, and help with logistics.</p>
			</div>
			<div class="column is-4 step-item">
				<div class="num"><span>2</span></div>
				<div class="img-content">
					<img src="https://cdn7.bigcommerce.com/s-xba1p2i5uz/product_images/uploaded_images/elvnvzmw.jpeg?t=1532543661">
				</div>
					<h6>Create & Customize</h6>
				<p>We’ll create a complimentary digital mockup of your design before you place your order. From company logos to cheeky sayings, our socks are completely customizable from to top to toe so they are uniquely your own. Together, we’ll refine the design to be exactly what you’re looking for.</p>
			</div>
			<div class="column is-4 step-item">
				<div class="num"><span>3</span></div>
				<div class="img-content">
					<img src="https://cdn7.bigcommerce.com/s-xba1p2i5uz/product_images/uploaded_images/elvnvzmw.jpeg?t=1532543661">
				</div>
					<h6>Get Noticed</h6>
				<p>The custom socks come ready for you, your team, or your clients. Whether you’re giving them away at a company event, putting them in new-hire packages, or gifting them to your team, your custom socks are sure to be a hit! We also offer custom packaging for a small additional fee.</p>
			</div>
		</div>
		<p class="tac"><i>** Please allow for a 3-4 week lead time to produce and ship your custom socks **</i></p>
		</div>
	</div>




	<div class="pricing sec">
		<div class="container">
			<h3>The Pricing</h3>
			<p class="tac">Unlike most custom outlets, our minimum order quantity is only 30 pairs. Choose the amount that’s right for you:</p>
			<ul class="inline pricing-list">
				<div class="line">|</div>
				<li>
					<a data-index="1" class="first">
						<div class="qty">30</div>	      
						<div class="price">$15 <span class="per">/ Per Pair</span></div>
					</a>
				</li>

				<li>
					<a data-index="2">
						<div class="qty">60</div>      
						<div class="price">$13 <span class="per">/ Per Pair</span></div>
					</a>
				</li>

				<li>
					<a data-index="3">
						<div class="qty">120</div>
						<div class="price">$11.50 <span class="per">/ Per Pair</span></div>
					</a>
				</li>

				<li>
					<a data-index="4">
						<div class="qty">240</div>
						<div class="price">$10 <span class="per">/ Per Pair</span></div>
					</a>
				</li>

				<li>
					<a data-index="5">
						<div class="qty">480</div>      
						<div class="price">$9 <span class="per">/ Per Pair</span></div>
					</a>
				</li>

				<li>
					<a data-index="6">
						<div class="qty">720</div>
						<div class="price">$8 <span class="per">/ Per Pair</span></div>
					</a>
				</li>

				<li>
					<a data-index="7">
						<div class="qty">1200</div>
						<div class="price">$7 <span class="per">/ Per Pair</span></div>
					</a>
				</li>

				<li>
					<a data-index="8">
						<div class="qty">1200+</div>
						<div class="price"><small>Request Pricing</small></div>
					</a>
				</li>
			</ul>



			<table class="pricing-table table is-bordered">
				<thead>
					<tr>
						<th>Quantity</th>
						<th>Per Pair</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="qty">30</td>
						<td class="price">$15</td>
					</tr>
					<tr>
						<td class="qty">60</td>
						<td class="price">$13</td>
					</tr>
					<tr>
						<td class="qty">120</td>
						<td class="price">$11.50</td>
					</tr>
					<tr>
						<td class="qty">240</td>
						<td class="price">$10</td>
					</tr>
					<tr>
						<td class="qty">480</td>
						<td class="price">$9</td>
					</tr>
					<tr>
						<td class="qty">720</td>
						<td class="price">$8</td>
					</tr>
					<tr>
						<td class="qty">1200</td>
						<td class="price">$7</td>
					</tr>
					<tr>
						<td class="qty">1200+</td>
						<td class="price"><small>Request Pricing</small></td>
					</tr>
				</tbody>
			</table>



			<h2 class="current price">
				<span class="p blue">$15</span>
				{{!-- <span class="per">/ Per Pair</span> --}}
			</h2>
			{{!-- <p class="curly">To get started designing your custom socks, simply complete the form below and tell us more about what you’re looking for.</p> --}}
		</div>
	</div>
</div>

<div class="white-bg">
	<div class="container">{{{page.content}}}</div>
</div>

<script type="text/javascript">
	const $trigger = $('[data-index]');
	const $priceEl = $('.current.price');
	const $line = $('.line');

	// default
	update($('.first'));

	// trigger
	$trigger.hover( function() {
		update($(this))
	});

	function update(self) {
		const i = self.data('index');
		const price = self.find('.price').html();
		const place = self.position().left;

		// active class
		$('.cur').removeClass('cur');
		self.addClass('cur');

		// update price
		$priceEl.find('.p').html(price);

		// move line
		$line.css('margin-left',place+'px');
	}
</script>














