<div class="car_banners">
	<div class="columns is-mobile">
		
		{{!-- item --}}
		<div class="column itm">
			<div class="columns m0">
				<div class="imgg column is-3 p0">
					<img src="{{cdn 'assets/img/free_ship_icon.svg'}}">
				</div>
				<div class="inner column">
					<h3>Free Shipping</h3>
					<p class="details">Hover For Details</p>
				</div>
			</div>
			<div class="onHover">
				<br>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
			</div>
		</div>
		
		{{!-- item --}}
		<div class="column itm">
			<div class="columns m0">
				<div class="imgg column is-3 p0">
					<img src="{{cdn 'assets/img/delivery_icon.svg'}}">
				</div>
				<div class="inner column">
					<h3>No-Hassel Returns</h3>
					<p class="details">Hover For Details</p>
				</div>
			</div>
			<div class="onHover">
				<br>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
			</div>
		</div>
		
		{{!-- item --}}
		<div class="column itm">
			<div class="columns m0">
				<div class="imgg column is-3 p0">
					<img src="{{cdn 'assets/img/exchange_icon.svg'}}">
				</div>
				<div class="inner column">
					<h3>Quick Delivery</h3>
					<p class="details">Hover For Details</p>
				</div>
			</div>
			<div class="onHover">
				<br>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
			</div>
		</div>

	</div>
</div>
