<!-- hidden -->


<p class="hide" data-cart-quantity="{{cart.quantity}}">
    {{lang 'cart.added_to_cart.your_cart_contains' num_products=cart.quantity}}
</p>
<!-- 
<div class="content">
	<div>
		<p class="modal-header-title">
			{{!-- {{lang 'cart.added_to_cart.what_next' num_products=cart.quantity}} --}}
		    {{#with cart.added_item}}
		    	<a href="{{url}}">{{name}}</a> was added to cart
		    {{/with}}
		</p>
	</div>

	<div class="level">
		<div class="level-item">
			{{#if cart.show_primary_checkout_button}}
	            <a href="{{urls.checkout.single_address}}" class="btn d">
	                {{lang 'cart.added_to_cart.proceed_to_checkout'}}
	            </a>
	            <a href="{{urls.cart}}" class="btn d">
	                {{lang 'cart.added_to_cart.view_or_edit_cart'}}
	            </a>
				<a href="javascript:void(0)" class="btn d" role="button" data-reveal-close>
	                {{lang 'cart.added_to_cart.continue_shopping'}}
	            </a>
	        {{/if}}
		</div>
	</div>


</div> -->
