


<div class="home-features" id="about">

  <div class="bg under"></div>
  <div class="bg about-bg"></div>
  
  <div class="over-c">
    <div class="grad-l"></div>
    <div class="container">
      <div class="column is-6 pr left-col">
          <div class="centerer_-x">
            <h2 class="barlow sr-only">South African & Proud</h2>
            
            <p class="f barlow"><img class="heading" src="{{cdn 'img/proud.svg'}}"></img>We proudly manufacture and sell authentic South African style dry aged beef. Exceptional quality is our guarantee —our products are always made with real ingredients, full flavor and true South African tradition.</p>
          </div>
        </div>
    </div>
  </div>

</div>














