<!-- <div class="heroCarousel-content{{#unless show_background}} heroCarousel-content--empty{{/unless}}" style="top: 45%;">
    <h2 class="heroCarousel-description tac">{{{text}}}</h2>
    <h1 class="heroCarousel-title">{{{heading}}}</h1>
    {{#if button_text}}
        <span class="heroCarousel-action button button--primary button--large">{{button_text}}</span>
    {{/if}}
</div> -->


<div class="heroCarousel-content{{#unless show_background}} heroCarousel-content--empty{{/unless}}" style="top: 45%;">
	<div class="carousel-img-top">
		<img src="{{heading}}">
	</div>
</div>


